<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"> 
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
        <span text-color="my-custom-color"> Deglutindo </span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list lines="none">
  <ion-item>
    <ion-icon name="key" color="primary"></ion-icon>
    <ion-button fill = "clear" class = "itemBtns" (click)="redefinirSenha()"><ion-label>Redefinir Senha</ion-label></ion-button>
  </ion-item>
  </ion-list>
  
</ion-content>
