<ion-header>
  <ion-toolbar>
    <ion-title>
      Pacientes
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<!--
  <ion-list>
      <ion-list-header>
        </ion-list-header>
        <ion-item>
          <ion-button fill = "clear" class = "itemBtns"><ion-label>{{userProfile?.paciente}}</ion-label></ion-button>
        </ion-item>
    <ion-item>
      <ion-button fill = "clear" class = "itemBtns"><ion-label>Júlia Martins</ion-label></ion-button>
    </ion-item>
    <ion-item>
      <ion-button fill = "clear" class = "itemBtns"><ion-label>Alice Nascimento</ion-label></ion-button>
    </ion-item>
    <ion-item>
      <ion-button fill = "clear" class = "itemBtns"><ion-label>Sofia Faber</ion-label></ion-button>
    </ion-item>
  </ion-list> -->

<!-- <ion-list *ngIf="!paciente.length">
    <ion-item *ngFor="let item of [0, 1, 2]">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        </p>
        <p>
          <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list> -->

  <ion-list *ngFor="let p of userProfile?.pacientes">
      <ion-item>
          <ion-button fill = "clear" class = "itemBtns"><ion-label>{{p.nome}}</ion-label></ion-button>
      </ion-item>
  </ion-list>

</ion-content>
