<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card" color="primary">
      <ion-card-header>
        <ion-card-subtitle>Bem-vindo</ion-card-subtitle>
        <ion-card-title>Fonoaudiólogo</ion-card-title>
        
      </ion-card-header>
    </ion-card>
    <ion-list lines="none">
      <ion-item>
        <ion-icon name="person" color="primary"></ion-icon>
        <ion-button fill = "clear" class = "itemBtns" (click)="meuperfil()"><ion-label>Meu Perfil</ion-label></ion-button>
      </ion-item>
      <ion-item>
        <ion-icon name="settings" color="primary"></ion-icon>
        <ion-button fill = "clear" class = "itemBtns" (click)="opcoes()"><ion-label>Opções</ion-label></ion-button>
      </ion-item>
      <ion-item>
        <ion-icon name="log-out" color="primary"></ion-icon>
        <ion-button fill = "clear" class = "itemBtns"><ion-label>Deslogar</ion-label></ion-button>
      </ion-item>
    </ion-list>
</ion-content>
