<ion-header>
  <ion-toolbar>
    <ion-title>
      Cadastro Paciente
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-item>
        <ion-label position="floating">Nome</ion-label>
        <ion-input></ion-input>
      </ion-item>
      
      <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Endereço</ion-label>
            <ion-input></ion-input>
          </ion-item>

    <ion-list>
  
        <ion-item>
          <ion-label>Gênero</ion-label>
          <ion-select placeholder="Selecione um">
            <ion-select-option value="f">Feminino</ion-select-option>
            <ion-select-option value="m">Masculino</ion-select-option>
            <ion-select-option value="o">Outro</ion-select-option>
          </ion-select>
        </ion-item>
      
        <ion-item>
          <ion-label>Raça</ion-label>
         <ion-select value="brown" ok-text="Okay" cancel-text="Dismiss">
            <ion-select-option value="branca">Branca</ion-select-option>
            <ion-select-option value="parda">Parda</ion-select-option>
            <ion-select-option value="preta">Preta</ion-select-option>
            <ion-select-option value="amarela">Amarela</ion-select-option>
            <ion-select-option value="indigena">Indígena </ion-select-option>
          </ion-select>
        </ion-item>
      
      </ion-list>
      
      

</ion-content>
