<ion-tabs> 

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="ptab1" >
      <ion-router-outlet name="ptab1"></ion-router-outlet>
      <ion-icon name="home"></ion-icon>
      <ion-label>Janela Inicial</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ptab2">
      <ion-router-outlet name="ptab2"></ion-router-outlet>
      <ion-icon name="list"></ion-icon>
      <ion-label>Exercicios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ptab3" >
      <ion-router-outlet name="ptab3"></ion-router-outlet>
      <ion-icon name="list"></ion-icon>
      <ion-label>Alimentação</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
