<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start"> 
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>
          <span text-color="my-custom-color"> Deglutindo </span>
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>O que é o App Deglutindo?</ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Esse aplicativo foi desenvolvido pelas alunas do curso de graduação de Informática Biomédica da UFCSPA, Alice
        Nascimento da Rocha, Júlia Geremias Martins e Sofia Faber Silveira, durante a cadeira de Engenharia de Software. Deglutindo é um
        app de auxílio aos pacientes com distúrbios miofuncionais e de disfagia, onde profissionais fonoaudiólogos podem selecinar exercícios, texturas alimentares
        e utensílios para os seus pacientes, afim de melhorar o andamento do tratamento.
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Dúvidas? Problemas?</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Caso tenha dúvidas ou problemas em relação ao App Delgutindo, mande um email para
        fonoapppaciente@gmail.com ou mccardoso@ufcspa.edu.br
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <img class="ion-padding" src="assets/img/GEAFOM.png">
  <img class="ion-padding" src="assets/img/informatica-biomedica.png">
      
</ion-content>