<ion-header>
  <ion-toolbar>
    <ion-title>Ajuda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item>
      <ion-icon name="bug" color="primary"></ion-icon>
      <ion-button fill = "clear" class = "itemBtns"><ion-label>Reporte um problema</ion-label></ion-button>
    </ion-item>
    <ion-item>
      <ion-icon name="information-circle-outline" color="primary"></ion-icon>
      <ion-button fill = "clear" class = "itemBtns"><ion-label>Sobre</ion-label></ion-button>
    </ion-item>
    <ion-item>
      <ion-icon name="mail" color="primary"></ion-icon>
      <ion-button fill = "clear" class = "itemBtns"><ion-label>Contato</ion-label></ion-button>
    </ion-item>
  </ion-list>
</ion-content>
